---
// Component Imports
import MainHead from "../components/MainHead.astro";
import TopNavigation from "../components/TopNavigation.astro";
import Hero from "../components/Hero.astro";
---

<html lang="en">
  <head>
    <MainHead
      title="Jeanine White: Personal Site"
      description="Jeanine White: Developer, Speaker, and Writer..."
    />
  </head>
  <body>
    <TopNavigation />
		<Hero />
  </body>
</html>
