---
// Component Imports
import MainHead from "../components/MainHead.astro";
import TopNavigation from "../components/TopNavigation.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import ToolsUsed from "../components/ToolsUsed.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <TopNavigation />
    <Hero />
    <Services />
    <ToolsUsed />
    <Footer />
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
