    <section class=" sm:mx-6 mt-5 pt-5 sm:pt-0 sm:mt-3">
      <div class="h-[500px] m-0 flex justify-center items-center bg-[url('/assets/3Dwave.jpg')] bg-center bg-fixed bg-cover bg-no-repeat rounded-3xl">
        <!-- title -->
        <div class="lg:w-11/12 lg:flex lg:flex-row lg:justify-around sm:justify-center md:max-h-96 md:flex md:flex-col md:items-center md:justify-between">
          <div class="lg:w-6/12 lg:h-max">
            <h1 class="text-5xl text-center py-5 px-2 font-semibold text-white lg:w-9/12 lg:text-7xl lg:text-left md:text-center lg:leading-normal">
              Web studio of effective <span class="text-primary">development</span>
            </h1>
          </div>
          <!-- description -->
          <div class=" text-gray-400 w-full flex flex-col text-center lg:w-5/12 md:w-4/5">
            <div class="flex flex-col justify-center items-center lg:flex lg:justify-start"> 
              <p class="text-base lg:text-left lg:text-lg md:w-3/4 md:text-xl 2xl:text-center">We build websites, tools and applications that offer beautiful web presence and ultimate user experience.</p>
            <!-- anchor tags -->
            <div class="flex justify-between items-center flex-col font-semibold my-6 lg:mt-8 lg:mb-16 md:w-max text-white md:py-4 sm:w-3/5 sm:py-10 sm:flex sm:flex-row">
              <a href='#' class="py-3 px-7 text-center bg-primary rounded-full mr-6 hover:bg-[#366c5a]">Let's partner</a> 
              <a href='#' class="flex items-center mt-4 sm:m-0">View Case Studies <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
              </svg></a>
            </div>
            </div>
            <!-- list -->
            <div class="w-full flex justify-center mt-auto md:mt-3">
              <ul class="flex flex-col justify-center items-center lg:flex-row lg:flex-wrap">
                <li class="flex flex-wrap lg:mr-6"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-primary">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>Full spectrum of services</li>
                <li class="flex flex-wrap"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-primary">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>Flexible work terms</li>
              </ul>
            </div>
        </div>
          </div>
      </div>
    </section>