---

---
    <section class="flex justify-center items-center mt-3">
      <div class="lg:w-11/12 lg:h-[70vh] p-5 m-0 flex justify-center items-center bg-[url('https://images.unsplash.com/photo-1638376776402-9a4b75fe21bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1354&q=80')] bg-center bg-fixed rounded-3xl">
        <!-- title -->
        <div class="lg:flex lg:justify-around sm:justify-center md:items-center md:max-h-96 md:flex md:flex-row md:justify-between">
          <h1 class="md:w-2/5 text-white lg:text-7xl py-5 px-2 font-semibold md:text-left md:mt-0 sm:text-center sm:text-6xl sm:mt-9">
            Web studio of effective <span class="text-primary">development</span>
          </h1>
          <!-- description -->
          <div class="md:w-2/5 md:h-56 text-gray-400 md:flex md:flex-col md:justify-between sm:text-center">
            <p class="text-lg ">We build websites, tools and applications that offer beautiful web presence and ultimate user experience.</p>
            <!-- anchor tags -->
            <div class="flex justify-around font-semibold py-5 text-white">
              <a href='#' class="py-3 px-6 text-center bg-primary rounded-full hover:bg-[#366c5a]">Let's partner</a> 
              <a href='#' class="flex flex-wrap justify-center items-center">View Case Studies <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 pl-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
              </svg></a>
            </div>
            <div class="flex">
              <ul class="w-full flex justify-evenly items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-primary">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg><li>Full spectrum of services</li>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-primary">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg><li>Flexible work terms</li>
              </ul>
            </div>
        </div>
          </div>
      </div>
    </section>