---

---
    <section class="container h-full mx-auto mt-3">
      <div class="h-[560px] m-0 flex justify-center items-center bg-[url('https://images.unsplash.com/photo-1638376776402-9a4b75fe21bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1354&q=80')] bg-center bg-fixed bg-cover bg-no-repeat rounded-3xl">
        <!-- title -->
        <div class="lg:w-11/12 lg:flex lg:flex-row lg:justify-evenly sm:justify-center md:max-h-96 md:flex md:flex-col md:items-center md:justify-between ">
          <h1 class="text-5xl text-center lg:w-2/5 text-white xl:text-8xl py-5 px-2 font-semibold lg:text-6xl lg:text-left md:text-6xl md:w-2/3 sm:text-center lg:leading-normal">
            Web studio of effective <span class="text-primary">development</span>
          </h1>
          <!-- description -->
          <div class=" text-gray-400 lg:h-max lg:w-5/12 md:w-4/5 flex flex-col sm:justify-center sm:items-center sm:text-center">
            <p class="text-2xl lg:text-left md:w-3/4 md:text-xl sm:w-2/4 text-center">We build websites, tools and applications that offer beautiful web presence and ultimate user experience.</p>
            <!-- anchor tags -->
            <div class="flex justify-between font-semibold my-6 lg:my-8 lg:w-9/12 text-white md:py-4 sm:w-3/5 sm:py-10">
              <a href='#' class="py-4 px-8 text-center bg-primary rounded-full hover:bg-[#366c5a]">Let's partner</a> 
              <a href='#' class="flex flex-wrap justify-center items-center">View Case Studies <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 pl-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
              </svg></a>
            </div>
              <ul class="flex justify-evenly items-center md:mt-3 ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-primary">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg><li class="mr-10">Full spectrum of services</li>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-primary">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg><li>Flexible work terms</li>
              </ul>
        </div>
          </div>
      </div>
    </section>