---
import "../styles/global.scss";

const {
  title = "Sasquatch Devs",
  description = "At Sasquatch Devs, we blend superior design with SEO expertise to deliver websites that look great and rank high. Our strategic approach ensures enhanced visibility and user engagement, making your brand stand out online. Partner for a compelling digital presence.",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
