<section>
  <!-- Tools used icons -->
  <div class="container max-w-screen-2xl mx-auto pb-5 lg:pt-3 xl:pt-4 xxl:pt-5 -mt-2 md:mt-0">
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5">
      <div class="col-span-1 flex justify-center items-center">
        <div class="sm:py-2 xl:my-1">
          <img src="/assets/clutch-rating.svg" alt="brandName" class="block mx-auto" width="196" />
        </div>
      </div>
      <div class="col-span-1 flex justify-center items-center">
        <div class="sm:py-2 xl:my-1">
          <img src="/assets/deloitte.svg" alt="brandName" class="block mx-auto" width="196" />
        </div>
      </div>
      <div class="col-span-1 flex justify-center items-center">
        <div class="sm:py-2 xl:my-1">
          <img src="/assets/vuejs.svg" alt="brandName" class="block mx-auto" width="196" />
        </div>
      </div>
      <div class="col-span-1 sm:col-span-3 md:col-span-1 flex justify-center items-center">
        <div class="sm:py-2 xl:my-1">
          <img src="/assets/awwwards.svg" alt="brandName" class="block mx-auto" width="196" />
        </div>
      </div>
      <div class="md:flex justify-center items-center hidden">
        <div class="sm:py-2 xl:my-1">
          <img src="/assets/clutch.svg" alt="brandName" class="block mx-auto" width="196" />
        </div>
      </div>
    </div>
  </div>
</section>
