<section class="container max-w-screen-2xl mx-auto my-28">
  <div class="px-4">
    <h2
      class="text-2xl md:text-4xl font-semibold tracking-wider mb-4 text-center lg:pt-3"
    >
      Sectors We Serve
    </h2>
    <p class="pb-3 md:pb-6 mb-0 sm:mb-2 lg:mb-4 text-center text-body">
      These industries frequently seek out our services.
    </p>
    <div class="flex flex-wrap lg:items-center">
      <!-- ACCORDIAN -->
      <div class="w-full md:w-1/2 pb-2 lg:pb-0 mb-4 md:mb-0 px-4">
        <div class="max-w-lg" id="industries">
          <div class="-mb-3 lg:-mb-2 xl:mb-1">
            <h3
              class="accordion-header text-lg mb-0 font-semibold md:text-2xl active"
            >
              <button
                class="relative flex justify-between items-center w-full text-left border-none cursor-pointer py-6 hover:underline"
                type="button"
              >
                Retail
                <div class="caret">
                  <div class="caret-down hidden">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                  </div>
                  <div class="caret-up">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
                    </svg>
                  </div>
                </div>
              </button>
            </h3>
            <div
              class="transition-[display] duration-150 ease-linear"
              style="display: block;"
            >
              <div class="pb-6 text-body text-base">
                In an era where online shopping is not just an option but a
                preference, having a strong digital presence in the retail
                sector is indispensable. At Sasquatch Devs, we understand the
                nuances and subtleties of creating an engaging online shopping
                experience that resonates with the tactile pleasure of in-store
                shopping.
              </div>
            </div>
          </div>
          <div class="-mb-3 lg:-mb-2 xl:mb-1">
            <h3 class="accordion-header text-lg mb-0 font-semibold md:text-2xl">
              <button
                class="relative flex justify-between items-center w-full text-left border-none cursor-pointer py-6 hover:underline"
                type="button"
              >
                Landscape Services
                <div class="caret">
                  <div class="caret-down hidden">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                  </div>
                  <div class="caret-up">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
                    </svg>
                  </div>
                </div>
              </button>
            </h3>
            <div
              class="transition-[display] duration-150 ease-linear"
              style="display: none;"
            >
              <div class="pb-6 text-body text-base">
                At Sasquatch Devs, we understand that the landscape services
                sector is more than just mowing lawns and planting flowers. It's
                about creating natural sanctuaries, enhancing our environment,
                and transforming spaces into green oases. Whether you're a local
                landscaper, an irrigation specialist, or a nationwide
                landscaping company, your online presence should reflect the
                dedication and artistry you bring to every project.
              </div>
            </div>
          </div>
          <div class="-mb-3 lg:-mb-2 xl:mb-1">
            <h3 class="accordion-header text-lg mb-0 font-semibold md:text-2xl">
              <button
                class="relative flex justify-between items-center w-full text-left border-none cursor-pointer py-6 hover:underline"
                type="button"
              >
                Automotive
                <div class="caret">
                  <div class="caret-down hidden">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                  </div>
                  <div class="caret-up">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
                    </svg>
                  </div>
                </div>
              </button>
            </h3>
            <div
              class="transition-[display] duration-150 ease-linear"
              style="display: none;"
            >
              <div class="pb-6 text-body text-base">
                At Sasquatch Devs, we're driven by the fast-paced and dynamic
                world of the automotive industry. In an era where vehicles are
                not just modes of transportation but symbols of innovation,
                style, and sustainability, your online presence should capture
                this momentum and evolution.
              </div>
            </div>
          </div>
          <div class="-mb-3 lg:-mb-2 xl:mb-1">
            <h3 class="accordion-header text-lg mb-0 font-semibold md:text-2xl">
              <button
                class="relative flex justify-between items-center w-full text-left border-none cursor-pointer py-6 hover:underline"
                type="button"
              >
                
Beauty and Personal Care
                <div class="caret">
                  <div class="caret-down hidden">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                  </div>
                  <div class="caret-up">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
                    </svg>
                  </div>
                </div>
              </button>
            </h3>
            <div
              class="transition-[display] duration-150 ease-linear"
              style="display: none;"
            >
              <div class="pb-6 text-body text-base">
                In an industry where first impressions and aesthetics reign
                supreme, having a polished online presence is non-negotiable. At
                Sasquatch Devs, we specialize in designing and developing
                digital platforms for the beauty and personal care sector that
                not only reflect the sophistication and professionalism of your
                brand but also resonate with your clientele.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- IMAGES -->
      <div class="w-full md:w-1/2 xl:w-6/12">
        <div class="lg:pl-6 xl:pl-0">
          <div class="flex justify-end relative h-full binded-content">
            <div
              class="flex w-full h-full transition-all duration-75 max-w-2xl"
            >
              <img
                class="rounded-3xl"
                src="assets/mobileapp.jpg"
                alt="Person holding a smart phone with a stock market application open."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .active {
    position: relative;
    visibility: visible !important;
    opacity: 1 !important;
    color: #448c74;
  }

  .accordion-header:not(.active) .caret .caret-down {
    display: block;
  }
  .accordion-header:not(.active) .caret .caret-up {
    display: none;
  }
</style>

<script>
  var acc = document.getElementsByClassName("accordion-header");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
